<h3>Identity claims</h3>

@foreach (var claim in User.Claims)
{
    <p>@claim.Type - @claim.Value</p>
}

@if (ViewBag.Result != null)
{
    <hr />
    <h3>Result from API</h3>
    <pre id="result"></pre>
}

@section Scripts
{
    <script>
        $(document).ready(function () {
            document.getElementById("result").innerHTML = JSON.stringify(@Html.Raw(ViewBag.Result), undefined, 2);
        });
    </script>
}