@{
    ViewData["Title"] = "Call API";
}

<h3>Result from API (access_token)</h3>

@if (ViewBag.Result != null)
{
    <pre id="result"></pre>
}

@section Scripts
{
    <script>
        $(document).ready(function () {
            document.getElementById("result").innerHTML = JSON.stringify(@Html.Raw(ViewBag.Result), undefined, 2);
        });
    </script>
}