@{
    ViewData["Title"] = "Home";
}

<div>
    @if (User.Identity.IsAuthenticated)
    {
        <p class="text-center">You have logged in successfully. Your claims are:</p>
        <h3>id_token:</h3>
        foreach (var userClaim in User.Claims)
        {
            <p class="font-weight-bold">@userClaim.Type</p>
            <p>@userClaim.Value</p>
        }
    }
    else
    {
        <p>You are currently not logged-in.</p>
        <div class="mb-2">
            <input class="form-control" type="text" id="txtLoginHint" placeholder="Optional login hint" />
        </div>
        <div>
            <input class="form-control" type="text" id="txtDomainHint" placeholder="Optional domain hint" />
        </div>
        <div>
            Possible domain hints
            <ul>
                <li>
                    kmd-ad-prod
                </li>
                <li>
                    contexthandler-test-kmdidentitytestapplications
                </li>
                <li>
                    nemlogin-3-test-public
                </li>
                <li>
                    nemlogin-3-test-private
                </li>
            </ul>
        </div>
        <div>
            <a id="lnkLogin" class="font-weight-bold" href="#">Click here to log-in</a>
        </div>


    }
</div>

@if (!User.Identity.IsAuthenticated)
{
    <script type="text/javascript">
        var loginUrl = '@Url.Action("Login", "Account")';
        document.getElementById('lnkLogin').onclick = function() {
            window.location = loginUrl + "?domainHint=" + document.getElementById('txtDomainHint').value + "&loginHint=" + document.getElementById('txtLoginHint').value;
        }
    </script>
}