<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" href="#" onclick="window.location.reload()">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <ul class="navbar-nav flex-grow-1" *ngIf="isAuthenticated">
          <li class="nav-item">
            <a class="nav-link text-dark" href="#" (click)="logout()">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#" (click)="callApi()">Call API</a>
          </li>
          <li *ngIf="userDelegationEnabled()" class="nav-item">
            <a class="nav-link text-dark" href="#" (click)="beginUserDelegation()">User delegation</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div role="main">
  <div>
    <div *ngIf="isError">
      <app-error></app-error>
    </div>
    <div *ngIf="isAuthenticated; else authenticationPrompt">
      <div *ngIf="performUserDelegation">
        <app-user-delegation></app-user-delegation>
      </div>
      <div *ngIf="showTestApiCall">
        <app-test-api-call></app-test-api-call>
      </div>
      <app-user-claims></app-user-claims>
    </div>
  </div>
</div>  

<ng-template #authenticationPrompt>
  <div>
    <app-authenticate></app-authenticate>
  </div>
</ng-template>

<router-outlet></router-outlet>
