@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

@if (Model.ShowError)
{
    <div>
        <h3 style="color: red">There was an error</h3>
        <div>
            @if (!string.IsNullOrEmpty(Model.Error))
            {
                <p><strong>Error:</strong> @Model.Error</p>
            }
            @if (!string.IsNullOrEmpty(Model.ErrorDescription))
            {
                <p><strong>Description:</strong> @Model.ErrorDescription</p>
            }
            @if (Model.ShowRequestId)
            {
                <p><strong>Request ID:</strong> <code>@Model.RequestId</code></p>
            }
        </div>
        <div>
            <p>You are currently not logged-in.</p>
            <a href="@Url.Action("Index", "Home")" class="font-weight-bold">Click here to log-in</a>
        </div>
    </div>
}

