<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="KMD.Identity.TestApplications.OpenID.WinForms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
  </startup>
  <userSettings>
    <KMD.Identity.TestApplications.OpenID.WinForms.Properties.Settings>
      <setting name="ClientId" serializeAs="String">
        <value>f312d937-2f2e-4082-9a8a-4f7742f17d70</value>
      </setting>
      <setting name="RedirectUri" serializeAs="String">
        <value>http://localhost:58025</value>
      </setting>
      <setting name="AuthorityUrl" serializeAs="String">
        <value>https://identity.kmd.dk/adfs</value>
      </setting>
      <setting name="Scopes" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>openid</string>
            <string>urn:kmd-identity-test-application-api.local/user_impersonation</string>
            <string>allatclaims</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ApiUrl" serializeAs="String">
        <value>https://localhost:44377/api/claims</value>
      </setting>
    </KMD.Identity.TestApplications.OpenID.WinForms.Properties.Settings>
  </userSettings>
</configuration>
